html{
    max-width: 2500px;
    font-size: 16px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* ヘッダー */
.header-container{
    width: 100%;
    height: 15vh;
    font-family: 'Noto Sans Mono', monospace;
    background-color: #5A5454;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content{
    width: 540px;
    height: 64px;
    margin-top: 1%;
    margin-left: 40px;
}

h1{
    color: #E1CFCF;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 3px;
}


.header-nav-lists{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
    
}

.nav_link{
    font-weight: bold;
    color: #E1CFCF;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Noto Sans Mono', monospace;
}

/* フッター */
footer{
    background-color: #5A5454;
    width: 100%;
    height: 120px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-content> p{
    font-size: 3rem;
    font-weight: bold;
    color: #E1CFCF;
    margin-left: 20px;
}

.footer-nav-lists{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    padding-top: 10px;
}


.fnav_link{
    /* font-weight: bold; */
    color: #E1CFCF;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Noto Sans Mono', monospace;
}

.copy{
    color:#E1CFCF;
    display: block;
    width: 120px;
    margin: 10px auto;
}

/* KV */

.kv-img{
    width: 100%;
    height: 85vh;
    background-size: cover;
    object-fit: cover;
}

/* 共通タイトル */

.content{
    margin-top: 80px;
    text-align: center;
    }

.content-ttl{
    display: block;
    width:1000px;
    margin:0 auto;
    font-size: 3.5rem;
    font-weight: bold;
    background: linear-gradient(transparent 60%, #FF0707 100%);
}

.content-ttl > span{
    font-size: 4.5rem;
}

.line{
    border-bottom: 1px solid #8F8E8E;
    width: 75%;
    margin: 80px auto 0;
}

.btn{
    width: 300px;
    height: 90px;
    background: #FF0707;
    border-radius: 50px;
    margin: 0 auto;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding:19px 0;
}


/* ビジネスドメイン */

.bussiness-domain-wrapper{
    display: flex;
    width:840px;
    margin:0 auto;
    margin-top: 110px;
}

.bussiness-domain-content + .bussiness-domain-content{
    margin-left: 120px;
}

.bussiness-img-box{
    width: 200px;
    height: 200px;
}

.bussiness-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.bussiness-domain-ttl{
    margin-top: 40px;
}

.bussiness-domain-ttl > h3{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.bussiness-domain-ttl > p{
    width: 200px;
    overflow-wrap: break-word;
    margin-top: 25px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

/* 哲学 */

.phi{
    width:500px
}

.philosophy-content{
    width: 600px;
    margin:60px auto;
}

.philosophy-list{
    font-size: 2.5rem;
}

.p-item{
    margin: 40px;
    letter-spacing: 1.5px;
}


.p-item:nth-child(1):before{
    content: '1';
    color:#fff;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF0707;
    margin-right: 40px;
    display: inline-block;
}
.p-item:nth-child(2):before{
    content: '2';
    color:#fff;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF0707;
    margin-right: 40px;
    display: inline-block;
}
.p-item:nth-child(3):before{
    content: '3';
    color:#fff;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF0707;
    margin-right: 40px;
    display: inline-block;
}

/* メンバー */

.mem{
    width:  400px;
}

.member-content-wrapper{
    display: flex;
    width:700px;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


.member-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.cfo-content{
    margin-left: 160px;
}

.member-content-ttl > h3{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.member-content-ttl > p{
    width: 210px;
    overflow-wrap: break-word;
    margin-top: 25px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-top: 8px;
}

.con{
    width: 300px;
}

.contact > .btn{
    margin-top: 60px;
    margin-bottom: 100px;
}

